#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
:root {
  --baseunitheight: 4px;
  --baseunitlength: 6px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.topSection{
  display: grid;
  grid-template-columns: 20% 60% 20%
}

.leaflet-container {
  width: 50vw;
  height: 50vh;
}

.inputLocationName{
  width: 40vw;
  height: 5vh;
}
.warnings{
  background-color: red;
}
.success{
  background-color: rgb(136, 226, 0);
  color:black
}
/* And the specific hamburger nav */
.hamburger-logo {
  float: left;
  padding-left: calc(var(--baseunitlength)*3);
  padding-right: calc(var(--baseunitlength)*3);
}

.hamburger-logo span {
  width: calc(var(--baseunitlength)*5.5);
  height: calc(var(--baseunitheight)*1);
  border-radius: 25%;
  background: mediumaquamarine; border-radius: var(--baseunitheight);
  display: block;
  margin: 25% 0;
  transform-origin: center; 
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* And we spread the logo out using nth */
.hamburger-logo span:nth-child(1) { top:  calc(var(--baseunitheight)*3); }
.hamburger-logo span:nth-child(2) { top: calc(var(--baseunitheight)*6); }
.hamburger-logo span:nth-child(3) { top: calc(var(--baseunitheight)*9); }

/*Lastly we design the nav-bar that will only appear once the menu is clicked*/
.navbarHideShow{
  background-color: rgb(216, 216, 216);
  width: 100%;
  margin: calc(var(--baseunitheight)*15) 0px 0px 0px;
  position: absolute;
  left: -100%;
  border: var(--baseunitheight);
  border-style: solid;
  border-color: #000;
  box-sizing: border-box;
  transition: left 0.3s ease-in-out;
}

label {
  cursor: pointer;
}

/* And then we build together the whole trigger logic. If it is checked */

/* if the trigger is checked, we turn outer ones of the spans */
#trigger:checked + .hamburger-logo span:nth-child(1){
  transform: translateY(calc(var(--baseunitlength)*2)) rotate(45deg);
  top: calc(var(--baseunitheight)*-4);

  }
#trigger:checked + .hamburger-logo span:nth-child(3){
  transform: translateY(calc(var(--baseunitlength)*-2)) rotate(-45deg);
  top: calc(var(--baseunitheight)*2);

   }
   /* and erase the middle one */
#trigger:checked + .hamburger-logo span:nth-child(2){
  opacity: 0%;
 }

 #trigger:checked~.navbarHideShow {
  left: calc(var(--baseunitlength)*2);
  width: calc(100vw - (var(--baseunitlength)*4));
}
   /* and we let the nav appear */


.navlink{
  margin-bottom: calc(var(--baseunitheight)*3);
  color: #000
}
/* And lastly we hide the trigger itself */
#trigger{
  display: none;
}
