@font-face {
    font-family: "general-fonts";
    src: url(fonts/Rex-BoldInline.otf);
}

@font-face {
    font-family: "title";
    src: url(fonts/Metropolis1920-Regular.otf);
}

:root {
    --baseunitheight: 4px;
    --baseunitlength: 6px;
}

body {
    font-size: calc(var(--baseunitheight*2));
    color: #000;
    font-family: "general-fonts";
}

header {
    position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0; /* Position the navbar at the top of the page */

    display: flex;
    justify-content: space-between;
    height: calc(var(--baseunitheight)*20);
    width: 100%;
    background-color: antiquewhite;
    align-items: center;
    margin-bottom: calc(var(--baseunitheight)*5);
    border-bottom: var(--baseunitheight);
    border-style: solid;
    border-color: #000;
}
.content{
    margin-top: calc(var(--baseunitheight)*25);

}

.webpage-title {
    font-size: calc(var(--baseunitheight)*7);
    margin-top: calc(var(--baseunitheight)*2);
    font-family: "title";
    justify-content: center;
}

.placeholder {
    width: calc(var(--baseunitlength)*5.5);
    height: calc(var(--baseunitheight)*10);
    padding-left: calc(var(--baseunitlength)*3);
    padding-right: calc(var(--baseunitlength)*3);
}

div.hamburger-logo {
    float: left;
    padding-left: calc(var(--baseunitlength)*3);
    padding-right: calc(var(--baseunitlength)*3);
}

div.hamburger-logo span {
    height: calc(var(--baseunitheight)*1);
    width: calc(var(--baseunitlength)*5.5);
    border-radius: 25%;
    background: #000;
    display: block;
    margin: 25% 0;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

nav {
    background-color: rgb(249, 216, 248);
    width: 100%;
    margin: calc(var(--baseunitheight)*15) 0px  0px 0px;
    position: fixed;
    left: -100%;
    border: var(--baseunitheight);
    border-style: solid;
    border-color: #000;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;
}

label {
    cursor: pointer;

}

.trigger {
    display: none;
}

.trigger:checked~div.hamburger-logo span:first-child {
    transform: rotate(45deg);
    top: calc(var(--baseunitheight)*2);
    position: relative;
}

.trigger:checked~div.hamburger-logo span:last-child {
    transform: rotate(-45deg);
    top: calc(var(--baseunitheight)*-4);
    position: relative;
}

.trigger:checked~div.hamburger-logo span:nth-child(2) {
    opacity: 0%;
    position: relative;
}

.trigger:checked~nav {
    left: calc(var(--baseunitlength)*2);
    width: calc(100vw - (var(--baseunitlength)*4));
}

li {
    margin-bottom: 10px;
}

li>a {
    color: #000
}

.title {
    font-family: "title";
    font-size: calc(var(--baseunitheight)*10);
    padding-top: calc(var(--baseunitheight)*3);
    padding-bottom: calc(var(--baseunitheight)*3);
    padding-left: calc(var(--baseunitlength)*2);
}

.subtitle {
    font-size: calc(var(--baseunitheight)*5);
    padding-top: calc(var(--baseunitheight));
    padding-left: calc(var(--baseunitlength)*2);
    padding-bottom: calc(var(--baseunitheight)*2);
}

.highlighted {
    color: blue;
}

.found-item {
    margin: 2vh 2vw 2vh 2vw;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
}

.image-description {
    width: 25vw;
    padding-left: 2%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.image-itself {
    width: 50vw;
    object-fit: contain;
    padding: 1.5% 0;
}

@media (min-width: 720px){
    .found-items-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
    }
    
    .image-description {
        width: 10vw;
        padding-left: 2%;
        padding-right: 1%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }
    
    .image-itself {
        width: 25vw;
        object-fit: contain;

    }
    .yours{
        width: 5vw;
        padding-left: 2%;
        padding-right: 1%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }
}



form {
    padding-left: calc(var(--baseunitlength)*1);
    padding-top: calc(var(--baseunitheight)*1);
    background-color: antiquewhite;

}

.question {
    padding: 2%;
    width: 95%;
    border: 1px solid #090909;
    border-left: 3px solid;
    border-right: 3px solid;
    border-collapse: collapse;
}

.question:first-child {
    border-top: 3px solid #090909;
    border-collapse: collapse;
}

.question:last-child {
    border-bottom: 3px solid #090909;
    border-collapse: collapse;
}


.claims {
    display: flex;
}

.claims>label {
    text-align: center;
    padding-top: calc(var(--baseunitheight)*14);
    font-size: calc(var(--baseunitheight)*4);
    margin-left: calc(var(--baseunitlength)*6);
    margin-right: calc(var(--baseunitlength)*3);
}
.claims:nth-child(4){
    padding-bottom: calc(var(--baseunitheight)*5);
    
}

input[type=text] {
    text-align: center;
    height: calc(var(--baseunitheight)*30);
    width: 75%;
    font-family: "general-fonts";
    font-size: calc(var(--baseunitheight)*4);
}

.yours {
    font-size: calc(var(--baseunitheight)*4);
    width: 10vw;
    margin-left: 3%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#places
 {
    text-align: left;
    font-family: "general-fonts";
    font-size: calc(var(--baseunitheight)*4);

}

input[type="submit"] {
    margin-top: calc(var(--baseunitheight)*2);
}

.results {
    width: 75%;
    border: 1px solid #090909;
    border-bottom: 1px solid black;
    border-collapse: collapse;

}

table {
    margin-left: calc(var(--baseunitlength)*2);
    margin-top: calc(var(--baseunitheight)*2);
}

td,
th {
    border: 1px solid #090909;
    height: 40px;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: antiquewhite;
}

.actual-map {
    width: 90vw;
    display: block;
    border-style: none;
    margin: 0 auto;
    padding:2vw 2vh;
    background-color: antiquewhite;

}