@font-face {
    font-family: "general-fonts";
    src: url(fonts/Rex-BoldInline.otf);
}

@font-face {
    font-family: "title";
    src: url(fonts/Metropolis1920-Regular.otf);
}

:root {
    --baseunitheight: 4px;
    --baseunitlength: 6px;
}

body {
    font-size: calc(var(--baseunitheight*2));
    color: #000;
    font-family: "general-fonts";
}



header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100px;
    background-color: antiquewhite;
    align-items: center;
    margin: calc(var(--baseunitheight)*-5);
    margin-bottom: calc(var(--baseunitheight)*5);
    border-bottom: var(--baseunitheight);

    border-style: solid;
    border-color: #000;


}

div.hamburger-logo {
    float: left;
    padding-left: calc(var(--baseunitlength)*3);
}

div.hamburger-logo span {
    height: var(--baseunitheight);
    width: calc(var(--baseunitlength)*6);
    background: #000;
    display: block;
    margin: 25% 0;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

nav {
    background-color: rgb(249, 216, 248);
    width: 100%;
    opacity: 100%;
    margin: calc(var(--baseunitheight)*15) 8px 0px 0px;
    position: fixed;
    left: -100%;
    border: var(--baseunitheight);
    border-style: solid;
    border-color: #000;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;

}

label {
    cursor: pointer;

}

.trigger {
    display: none;
}

.trigger:checked~div.hamburger-logo span:first-child {
    transform: rotate(45deg);
    top: calc(var(--baseunitheight)*2);
    position: relative;
}

.trigger:checked~div.hamburger-logo span:last-child {
    transform: rotate(-45deg);
    top: calc(var(--baseunitheight)*-4);
    position: relative;
}

.trigger:checked~div.hamburger-logo span:nth-child(2) {
    opacity: 0%;
    position: relative;
}

.trigger:checked~nav {
    left: 8px;
    width: calc(100vw - 16px);
}


.webpage-title {
    font-size: 25px;
    font-family: "title";
    justify-content: center;

}

.placeholder {
    width: 50px;
    height: 50px;

}

li {
    margin-bottom: 10px;
}

li>a {
    color: #000
}

.title {
    font-family: "title";
    font-size: 52px;
    padding-top: calc(var(--baseunitheight)*3);
    padding-left: calc(var(--baseunitlength)*2);



}

.subtitle {
    font-size: 20px;
    padding-top: var(--baseunitheight);
    padding-left: calc(var(--baseunitlength));
    padding-bottom: calc(var(--baseunitheight)*2);

}

.highlighted {
    color: blue;
}

.image-wrapper-title {
    font-family: "title";
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 4px;

}

.image-wrapper {
    justify-content: start;
}

.image-itself {
    width: 320px;
    object-fit: contain;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.question {
    padding: 2%;
}

input[type=text] {
    height: 150px;
    width: 75%;
}

.results {
    width: 75%;
    border: 1px solid #090909;
    border-bottom: 1px solid black;
    border-collapse: collapse;

}
table{

    margin-left: calc(var(--baseunitlength)*4);
    margin-top: calc(var(--baseunitheight)*10);


}
td,
th {
    border: 1px solid #090909;
    height: 40px;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: antiquewhite;
}


.question {

    width: 75%;
    border: 1px solid #090909;
    border-left: 3px solid;
    border-right: 3px solid;

    border-collapse: collapse;
}

form {
    padding-left: calc(var(--baseunitlength)*4);
    padding-top: calc(var(--baseunitheight)*4);

}

.question:first-child {
    width: 75%;
    border-top: 3px solid #090909;
    border-collapse: collapse;
}

.question:last-child {
    width: 75%;
    border-bottom: 3px solid #090909;
    border-collapse: collapse;
}




.claims > label{
    text-align: center;
    font-size: calc(var(--baseunitheight)*6);
    margin-left: calc(var(--baseunitlength)*6);
    margin-right: calc(var(--baseunitlength)*3);
}


  #places, input{
    text-align: center;
    font-family: "general-fonts";
    font-size: calc(var(--baseunitheight)*4);

  }

